{% extends "base.html" %}

{% block title %}
Edit User
{% endblock %}

{% block content %}

<section id="form">

    <div class="container">

        <div class="row">

            <div class="col-sm-5 col-sm-offset-3">

                <div class="login-form">

                    <h2>
                        Edit Member: {{ user_edit.username }}
                    </h2>

                    <form method="POST" enctype="multipart/form-data">

                        {% csrf_token %}

                        {{ form.as_p }}

                        <button type="submit" class="btn btn-default">
                            Save
                        </button>

                        <a href="{% url 'list_user' %}" class="btn btn-default">
                            Back
                        </a>

                    </form>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}