{% extends 'base.html' %}
{% block title %}
List User
{% endblock %}
{% block content %}
<section>
    <div class="container">
        <h2 class="title text-center">
            List User
        </h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Level</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for us in users %}
                <tr>
                    <td>{{us.id}}</td>
                    <td>{{us.username}}</td>
                    <td>{{us.email}}</td>
                    <td>
                        {% if us.is_staff %}
                        <strong>Admin</strong>
                        {% else %}
                        <strong>Member</strong>
                        {% endif %}
                    </td>
                    <td>
                        {% if not us.is_staff %}
                        <a href="{% url 'edit_user' us.id %}" class="btn btn-warning">Edit</a>
                        <!-- <a href="{% url 'delete_user' us.id %}" class="btn btn-danger"
                            onclick="return confirm('Bạn có chắc muốn xóa thành viên này không?')">Delete</a> -->
                        <form method="POST" action="{% url 'delete_user' us.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger"
                                onclick="return confirm('Bạn có chắc muốn xóa member này không?')">
                                Delete
                            </button>
                        </form>
                        {% else %}
                        Admin
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No user</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}