{% extends "base.html" %}

{% block title %}
Check Email
{% endblock %}

{% block content %}

<section id="form">
    <div class="container">

        <div class="row">

            <div class="col-sm-4 col-sm-offset-4">

                <div class="login-form">

                    <h2>Kiểm tra email của bạn </h2>

                    <p>
                        Chúng tôi đã gửi cho bạn đường dẫn đặt lại mật khẩu. Vui lòng kiểm tra nó !
                    </p>

                </div>

            </div>

        </div>

    </div>
</section>

{% endblock %}