{% extends "base.html" %}

{% block title %}Đăng ký{% endblock %}

{% block content %}

<section id="form"><!--form-->
    <div class="container">
        <div class="col-sm-9">
            <div class="signup-form"><!--sign up form-->
                <h2>New User Signup!</h2>
                <form action="#" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form.as_p }}
                    <button class="btn btn-default">Đăng ký</button>
                </form>
            </div><!--/sign up form-->
        </div>
    </div>
</section><!--/form-->

{% endblock %}